@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.topo {
    width: 100%;
    padding: 15px 20px;
}

.topoLeft {
    float: left;
}

.iconLeft {
    float: left;
    cursor: pointer;
}

.imageLeft {
    width: 100%;
    max-width: 50px;
    margin-left: 20px;
    cursor: pointer;
}

.searchTopo {
    padding: 7px 10px;
    width: 100%;
    max-width: 600px;
    margin-left: 180px;
    margin-top: -8px;
    outline-color: blue;
    float: left;
}

.buttonSearch {
    padding: 7px 27px;
    color: grey;
    float: left;
    margin-top: -8px;
    cursor: pointer;
}

.micTopo {
    float: left;
    margin-left: 25px;
    color: black;
    font-size: 25px;
    cursor: pointer;
}

.micTopo:hover {
    color: grey;
}

.tableTopo {
    float: left;
    margin-left: 80px;
    color: black;
    font-size: 25px;
    cursor: pointer;
    position: relative;
    left: 120px;
}

.tableTopo:hover {
    color: grey;
}

.verticalTopo {
    float: left;
    margin-left: 30px;
    color: black;
    font-size: 25px;
    cursor: pointer;
    position: relative;
    left: 120px;
}

.verticalTopo:hover {
    color: grey;
}

.loginTopo {
    float: right;
    margin-right: 40px;
    padding: 13px 20px;
    color: blue;
    border: 1px solid blue;
    background: white;
    font-weight: bold;
    margin-top: -8px;
    cursor: pointer;
}

.loginTopo:hover {
    background: blue;
    color: white;
}

.userLogin {
    color: blue;
    font-size: 20px !important;
    float: left;
    margin-right: 7px;
    margin-top: -5px;
}

.loginTopo:hover .userLogin {
    color: white;
}

.lateral {
    border: 1px;
    width: 100%;
    max-width: 260px;
    height: 1000px;
    float: left;
    border-right: #c4c1c1 solid;
    margin-top: 1.3px;
}

.itemLateralActive {
    padding: 15px 10px;
    color: black;
    font-size: 16px !important;
    float: left;
    width: 240px;
    font-weight: bold;
    background: #e6e6e6;
    cursor: pointer;
    height: 29px;
}

.itemLateralActive:hover {
    background: #e6e6e6;
}

.iconLateralActive {
    float: left;
    color: red;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 20px;
}

.itemLateral {
    padding: 15px 10px;
    color: black;
    font-size: 16px !important;
    float: left;
    width: 240px;
    font-weight: bold;
    cursor: pointer;
    height: 29px;
}

.itemLateral:hover {
    background: #e6e6e6;
}

.iconLateral {
    float: left;
    color: black;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 20px;
}

.likeLateral {
    width: 100%;
    max-width: 150px;
    font-size: 13px;
    text-align: left;
    margin-left: 20px;
    
}

.userLoginLateral {
    position: relative;
    left: -20px;
}

.melhorLateral {
    width: 100%;
    max-width: 200px;
    font-size: 17px;
    text-align: center;
    margin-left: 20px;
    font-weight: bold;
}

/* MEIO */

.meio {
    border-top: 1px solid #c4c1c1;
    margin-top: 1px;
    background: rgb(240, 240, 240);
    float: right;
    height: 309px;
    width: 1242px;
    /* border-left: 2px solid black; */

}

.itemMeioActive {
    border: none;
    color: white;
    background: #353434;
    padding: 8px 10px;
    border-radius: 25px;
    font-size: 16px !important;
    margin-left: 10px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

.itemMeio {
    border: none;
    color: rgb(15, 15, 15);
    background: #e6e6e6;
    padding: 8px 10px;
    border-radius: 25px;
    font-size: 16px !important;
    margin-left: 10px;
    cursor: pointer;
}
.itemMeio:hover {
    background: #302d2d;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
hr {
    border: 1px solid #c4c1c1;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* .banner {
    width: 100%;
    max-width: 1242px;
    height: 300px;
    background: #e6e6e6;
    float: left;
    margin-top: 10px;
} */

.imgMeio {
    width: 100%;
    background-image: url("../images/banner.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 360px;
}

.premiumLogo {
    width: 100%;
    max-width: 300px;
    margin-left: -5px;
    margin-top: 30px;
}

.textoLogo {
    margin-left: 30px;
    font-size: 25px;
}

.baixeAgora {
    margin-left: 30px;
    font-size: 15px;
    color: blue;
    font-weight: bold;
    cursor: pointer;
    padding: 20px;
    background: rgb(247, 247, 247);
    border-color: blue;
}

.baixeAgora:hover {
    background: blue;
    color: white;
}

.iconXLogo {
    float: right;
    margin-right: 30px;
    margin-top: 10px;
    font-size: 30px;
    cursor: pointer;
}

.iconXLogo:hover {
    color: grey;
}

/* Area de videos */

.areaVideos {
    width: 100%;
    max-width: 1242px;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(240, 240, 240);
}

.itemVideo {
    float: left;
    width: 100%;
    max-width: 250px;
    height: 250px;
    border: 1px solid #000000;
    margin-left: 50px;
    margin-top: 50px;
    align-items: center;
}

.timer {
    float: right;
    padding: 5px;
    background: rgb(34, 34, 34, 0.8);
    color: white;
    font-size: 10px;
    position: absolute;
    margin-top: 110px;
    margin-left: -40px;
    border-radius: 8px;
    
}

.thumb {
    width: 100%;
}

.iconVideo {
    width: 100%;
    border-radius: 50%;
    max-width: 30px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

.tituloVideo {
    width: 100%;
    max-width: 200px;
    font-size: 15px;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    float: left;
}

.canalVideo {
    width: 100%;
    max-width: 200px;
    font-size: 12px;
    margin-left: 40px;
    margin-top: 2px;
    float: left;
}

.vizualizacoesVideo {
    width: 100%;
    max-width: 200px;
    font-size: 12px;
    margin-left: 40px;
    margin-top: -5px;
    float: left;
}

.dataVideo {
    width: 100%;
    max-width: 200px;
    font-size: 12px;
    margin-left: 40px;
    margin-top: -5px;
    float: left;
}